/*$mobile: 320px;
$tablet: 768px;
$destop: 1024;
$larg-desktop: 2400;

@media screen and (min-wid)
*/
@media (max-width: 450px) {
  * {
    margin: 0;
    padding: 0;
  }
  html {
    font-size: 12px;
  }
  body {
    width: 100%;
    position: relative;
    font-family: 'Petrona', serif;
  }
  .arrow_up {
    position: -webkit-sticky;
    position: sticky;
    top: 50%;
    margin-right: 1rem;
    width: 3rem;
  }
  .arrow_up:hover {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
  }
  .parallax-header {
    width: 100%;
    height: 100vh;
    background-image: url("/assets/1.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .parallax-header h1 {
    color: whitesmoke;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 3rem;
    width: 100%;
    text-align: center;
  }
  .navegador {
    position: relative;
    width: 100%;
  }
  .menu {
    margin-bottom: 3rem;
    background-color: rgba(255, 255, 255, 0.2);
  }
  .menu li {
    display: inline;
  }
  .menu li .menulink {
    text-decoration: none;
    color: whitesmoke;
    display: inline;
    margin: 10%;
    font-size: 1.5rem;
  }
  .menu li .menulink:hover {
    -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
    color: black;
  }
  .personal_data {
    border: solid 2px black;
    padding: 0rem;
  }
  .personal_data .pd_top {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 3rem;
  }
  .personal_data .pd_cointener {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: solid 2px red;
    width: 100%;
  }
  .personal_data .pd_left {
    font-size: 1rem;
    border: purple solid 2px;
  }
  .personal_data .pd_right {
    background-image: url("http://i.picasion.com/pic89/12b85845fc16996b6756a8a579991f3a.gif");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
  }
  .parallax_portfolio {
    width: 100%;
    height: 100vh;
    background-image: url("/assets/2.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  h2 {
    padding: 2rem;
    color: white;
    font-size: 4rem;
    border: solid 1rem;
    border-color: rgba(255, 255, 255, 0.4);
    border-radius: 100%;
  }
  .portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 200%;
    padding: 5rem;
    border: solid 2px red;
    background-color: rgba(17, 16, 16, 0.7);
  }
  .sitios {
    width: 80%;
    font-size: 2rem;
    color: white;
    margin-right: 2%;
    border: solid 2px blue;
  }
  .sitios img {
    width: 100%;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
  }
  .parallax_contact {
    width: 100%;
    height: 100vh;
    background-image: url("/assets/3.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 2rem;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-size: 1.5rem;
    line-height: 1.5;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact form {
    margin-bottom: 1rem;
  }
  .form_titulo {
    font-size: 2rem;
  }
  .maps {
    border: solid black 2px;
  }
  footer {
    background-color: rgba(88, 88, 88, 0.9);
    font-size: 1rem;
    border-top: solid 2px black;
  }
  .sitios:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition-duration: 0.7s;
            transition-duration: 0.7s;
  }
  .sitios:hover img {
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
  }
}

/*FIN DE MEDIA QUERY*/
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 12px;
}

body {
  width: 100%;
  position: relative;
  font-family: 'Petrona', serif;
}

.arrow_up {
  position: -webkit-sticky;
  position: sticky;
  top: 50%;
  text-align: right;
  margin-right: 1rem;
}

.arrow_up:hover {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.parallax-header {
  width: 100%;
  height: 100vh;
  background-image: url("/assets/1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1 {
  color: whitesmoke;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 5rem;
  width: 100%;
  text-align: center;
}

.navegador {
  position: relative;
  width: 100%;
}

.menu {
  margin-bottom: 3rem;
  background-color: rgba(255, 255, 255, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
}

.menu li {
  width: 100%;
  text-align: center;
}

.menulink {
  text-decoration: none;
  color: whitesmoke;
  /*list-style-type: none;*/
  margin: 1%;
  font-size: 2rem;
}

.menulink:hover {
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  color: black;
}

.personal_data {
  padding: 3rem;
}

.pd_top {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

.pd_cointener {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pd_left {
  font-size: 1.5rem;
  max-width: 50%;
  max-height: 60%;
}

.pd_right {
  background-image: url("http://i.picasion.com/pic89/12b85845fc16996b6756a8a579991f3a.gif");
  background-repeat: no-repeat;
  width: 40%;
}

.parallax_portfolio {
  width: 100%;
  height: 100vh;
  background-image: url("/assets/2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h2 {
  padding: 2rem;
  color: white;
  font-size: 4rem;
  border: solid 1rem;
  border-color: rgba(255, 255, 255, 0.4);
  border-radius: 100%;
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: 2;
      flex-wrap: 2;
  padding: 5rem;
  background-color: rgba(17, 16, 16, 0.7);
}

.sitios {
  width: 30%;
  font-size: 2rem;
  color: white;
  margin-right: 2%;
  text-align: center;
}

.sitios img {
  width: 100%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.parallax_contact {
  width: 100%;
  height: 100vh;
  background-image: url("/assets/3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 1.5rem;
  line-height: 1.5;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact form {
  margin-bottom: 1rem;
}

.form_titulo {
  font-size: 2rem;
}

.maps {
  border: solid black 2px;
}

footer {
  background-color: rgba(88, 88, 88, 0.9);
  font-size: 1rem;
  border-top: solid 2px black;
}

.sitios:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.sitios:hover img {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}
/*# sourceMappingURL=main.css.map */